<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>editEvent</display-name>
    <servlet-name>editEvent</servlet-name>
    <servlet-class>servelet.editEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editEvent</servlet-name>
    <url-pattern>/editEvent</url-pattern>
  </servlet-mapping>
  <display-name>Event</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>addEvent</servlet-name>
    <servlet-class>servelet.addEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEvent</servlet-name>
    <url-pattern>/addEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEvent</display-name>
    <servlet-name>deleteEvent</servlet-name>
    <servlet-class>servelet.deleteEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEvent</servlet-name>
    <url-pattern>/deleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>list</display-name>
    <servlet-name>list</servlet-name>
    <servlet-class>servelet.list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toEditForm</display-name>
    <servlet-name>toEditForm</servlet-name>
    <servlet-class>servelet.toEditForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toEditForm</servlet-name>
    <url-pattern>/toEditForm</url-pattern>
  </servlet-mapping>
</web-app>